<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- <%= JSON.stringify(useEdit)%> -->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/update">CreateUser</a>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
    </div>
    <div class="form">
        <form action="/delete-user" method="post">

            <fieldset>
                <legend>Delete A new user</legend>
                <div class="input-group de-none">
                    <label>ID: </label>
                    <input type="text" name="userID" value="<%=useEdit.id%>" />
                </div>

                <div class="input-group">
                    <label>Are you sure to delete this user with Email: </label>
                    <input type="text" name="email" value="<%=useEdit.email%>" />
                </div>
                <!-- <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name" value="<%=useEdit.name%>" />
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city" value="<%=useEdit.city%>" />
                </div> -->
                <div>
                    <button Type="submit"> Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- <div class=" formEdit "></div> -->

</body>

</html>